<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>房间列表</title>
    <!-- jquery -->
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <!-- bootstrap -->
    <link rel="stylesheet" type="text/css"
          th:href="@{/bootstrap/css/bootstrap.min.css}"/>
    <script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}">
    </script>
    <!-- layer -->
    <script type="text/javascript" th:src="@{/layer/layer.js}"></script>
    <!-- common.js -->
    <script type="text/javascript" th:src="@{/js/common.js}"></script>
</head>
<body>
<div class="panel panel-default">
    <div class="panel-heading">房间列表</div>
    <table class="table" id="roomlist">
        <tr>
            <td>房间名称</td>
            <td>最大人数</td>
            <td>剩余座位</td>
            <td>创建时间</td>
            <td>剩余时间</td>
            <td></td>
        </tr>
        <tr th:each="room,roomStat : ${roomList}">
            <td th:text="${room.name}"></td>
            <td th:text="${room.number}"></td>
            <td th:text="${room.left}"></td>
            <td th:text="${room.createTime}"></td>
            <td th:text="${room.leftTime}"></td>
            <td><a th:href="'/room/id='+${room.id}">进入房间</a></td>
        </tr>
    </table>
</div>
<div class="form-group">
    <div class="row">
        <div class="col-md-5">
            <input id="name" class="form-control"
                   type="text" placeholder="房间名称" required="true"
                   minlength="1" maxlength="16"/>
        </div>
        <div class="col-md-5">
            <button class="btn btn-primary btn-block"
                    onclick="create()">创建房间
            </button>
        </div>
    </div>
</div>
</body>
<script>
    function create() {
        $.ajax({
            url: "/room/create",
            type: "POST",
            data: {
                name: $("#name").val()
            },
            success: function (data) {
                console.log("成功");
                layer.closeAll();
                if (data.code == 200) {
                    layer.msg("成功");
                    window.location.href="/room/toList";
                } else {
                    layer.msg(data.message);
                    window.location.href="/room/toList";
                }
            },
            error: function () {
                console.log("失败");
                layer.closeAll();
                window.location.href="/room/toList";
            }
        });
    }

</script>
</html>